#rename sample.env to .env
API_ID=29382018
API_HASH=4734a726c04620c61ec0a28a1ae0d57f
BOT_TOKEN=7592800776:AAG4v5s-3d9VX23bfQJAm1fvVgbB1okGZ1I
BIN_CHANNEL=-1002436397777
OWNER_USERNAME=@L_abani
FQDN=
OWNER_ID=7442532306
UPDATES_CHANNEL=@noob_project
DATABASE_URL=mongodb+srv://mrnoobx:DAZCdTczVWyECi04@cluster0.sedgwxy.mongodb.net/?retryWrites=true&w=majorit
#MULTI_TOKEN1=
#MULTI_TOKEN2=
